<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>База данных микропроцессоров</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>База данных микропроцессоров</h1>
    <nav>
        <a href="/">Главная</a> |
        <a href="/search">Поиск</a> |
        <a href="/view">Процессоры</a> |
        <a href="/add">Добавить процессор</a> |
        <a href="/add_detailed">Добавить (подробно)</a> |
        <a href="/manufacturers">Производители</a> |
        <a href="/config">Конфигурации</a> |
        <a href="/performance">Тесты</a> |
        <a href="/cooling_systems">Системы охлаждения</a> |
        <a href="/stats">Статистика</a> |
	<a href="/queries">Запросы</a>
    </nav>
    <p>Добро пожаловать! Используйте меню для работы с базой данных.</p>
<p>Данная база данных была создана для удобного хранения информации, а так же поиска в выбранной предметной области "Микропроцессоры".</p>

<p>Работу выполнил студент группы ИВТ-Б22 Петрухин Владислав</p>
</body>
</html>