<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h1>Статистика</h1>
    <nav>
        <a href="/">Главная</a> |
        <a href="/search">Поиск</a> |
        <a href="/view">Процессоры</a> |
        <a href="/add">Добавить процессор</a> |
        <a href="/add_detailed">Добавить (подробно)</a> |
        <a href="/manufacturers">Производители</a> |
        <a href="/config">Конфигурации</a> |
        <a href="/performance">Тесты</a> |
        <a href="/cooling_systems">Системы охлаждения</a> |
        <a href="/stats">Статистика</a> |
	<a href="/queries">Запросы</a>
    </nav>
    <h2>Количество процессоров по производителю</h2>
    <table>
        <tr><th>Производитель</th><th>Количество процессоров</th></tr>
        {% for item in by_manufacturer %}
        <tr><td>{{ item['company_name'] }}</td><td>{{ item['processor_count'] }}</td></tr>
        {% endfor %}
    </table>
    <h2>Количество процессоров по моделям материнских плат</h2>
    <table>
        <tr><th>Модель материнской платы</th><th>Количество процессоров</th></tr>
        {% for item in by_motherboard %}
        <tr><td>{{ item['motherboard_model'] }}</td><td>{{ item['processor_count'] }}</td></tr>
        {% endfor %}
    </table>
</body>
</html>